<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Order Data</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Order Data</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Order Data</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <h3>Revenue : <%= new Intl.NumberFormat('vi-VN', { style: 'currency',
            currency: 'VND', maximumFractionDigits: 9}).format(orders2.total)
            %></h3>
          <table id="example2" class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>STT</th>
                <th>Order ID</th>
                <th>Total</th>
                <th>Status</th>
                <th>Method</th>
                <th>Transaction ID</th>
                <th>Created At</th>
                <th>Options</th>
              </tr>
            </thead>
            <tbody>
              <% orders.forEach(function (item,index) { %>
              <tr>
                <td><%= index+1 %></td>
                <td><%= item.id %></td>
                <td>
                  <%= new Intl.NumberFormat('vi-VN', { style: 'currency',
                  currency: 'VND', maximumFractionDigits: 9}).format(item.total)
                  %>
                </td>
                <td>
                  <select
                      class="custom-select order-status"
                      name="status"
                    >
                      <option disabled selected><%= item.status %></option>
                      <option value="New Order" data-id="<%= item.id %>">New Order</option>
                      <option value="Preparing orders" data-id="<%= item.id %>">Preparing orders</option>
                      <option value="Delivering" data-id="<%= item.id %>">Delivering</option>
                      <option value="Delivered" data-id="<%= item.id %>">Delivered</option>
                    </select>
                </td>
                <td><%= item.method %></td>
                <td><%= item.transaction_id %></td>
                <td><%= new Date(item.created_at).toISOString().split('T')[0] %></td>
                <td>
                  <a href="/order-<%= item.id %>" class="btn btn-success"
                    >Detail</a
                  >
                  <!-- <a href="/product-edit-<%= item.id %>" class="btn btn-primary"
                    >Edit</a
                  >
                  <a
                    href="#"
                    data-toggle="modal"
                    data-target="#deleteProductModal"
                    data-id="<%= item.id %>"
                    class="btn btn-danger"
                    >Delete</a
                  > -->
                </td>
              </tr>
              <% }) %>
            </tbody>
            <tfoot>
              <tr>
                <th>STT</th>
                <th>Order ID</th>
                <th>Total</th>
                <th>Status</th>
                <th>Method</th>
                <th>Transaction ID</th>
                <th>Created At</th>
                <th>Options</th>
              </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- Modal -->
<div
  class="modal fade"
  id="deleteProductModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete product ?</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">Are you sure about to delete this product ?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" id="btn-delete-product">
          Yes
        </button>
      </div>
    </div>
  </div>
</div>
<form method="POST" name="delete-product-form"></form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    let productId;
    let deleteForm = document.forms["delete-product-form"];
    $("#deleteProductModal").on("show.bs.modal", function (event) {
      var button = $(event.relatedTarget);
      productId = button.data("id"); //Get id
    });
    var btnDeleteProduct = document.getElementById("btn-delete-product");
    btnDeleteProduct.onclick = function (event) {
      deleteForm.action = "/product-delete/" + productId;
      deleteForm.submit();
    };
  });
</script>
<script>
  $(document).ready(function () {
    $(".order-status").on("change", function (e) {
      event.preventDefault();
      let payment_id = $(this).children('option:selected').data('id');
      let status = e.target.value
      $.ajax({
        url: "/changeStatusOrder",
        type: "POST",
        data: { payment_id: payment_id, status:status },
        success: function (data) {
          alert("Update Success!");
        },
        error: function (jqXHR, textStatus, err) {
          alert("Update Failed !");
        },
      });
    });
  });
</script>
