<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>User Data</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">User Data</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">User Data</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table id="example2" class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Role</th>
                <th>Created At</th>
                <th>Options</th>
              </tr>
            </thead>
            <tbody>
              <% users.forEach(function (item,index) { %>
              <tr>
                <td><%= index+1 %></td>
                <td><%= item.name %></td>
                <td><%= item.email %></td>
                <td><%= item.address %></td>
                <td><%= item.phone %></td>
                <td><%= item.role_name %></td>
                <td><%= new Date(item.created_at).toISOString().split('T')[0] %></td>
                <td>
                  <a href="/user-edit-<%= item.id %>">Edit</a>
                  <a
                    href="#"
                    data-toggle="modal"
                    data-target="#deleteSlideModal"
                    data-id="<%= item.id %>"
                    >Delete</a
                  >
                </td>
              </tr>
              <% }) %>
            </tbody>
            <tfoot>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Role</th>
                <th>Created At</th>
                <th>Options</th>
              </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- Modal -->
<div
  class="modal fade"
  id="deleteSlideModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete slide </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">Are you sure about to delete this slide ?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" id="btn-delete-slide">
          Yes
        </button>
      </div>
    </div>
  </div>
</div>
<form method="POST" name="delete-slide-form"></form>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    let slideId;
    let deleteForm = document.forms["delete-slide-form"];
    $("#deleteSlideModal").on("show.bs.modal", function (event) {
      var button = $(event.relatedTarget);
      slideId = button.data("id"); //Get id
    });
    var btnDeleteSlide = document.getElementById("btn-delete-slide");
    btnDeleteSlide.onclick = function (event) {
      deleteForm.action = "/slide-delete/" + slideId;
      deleteForm.submit();
    };
  });
</script>
