<%- include('../partials/admin/head.ejs') %>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <!-- Navbar -->
  <%- include('../partials/admin/header.ejs') %>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <%- include('../partials/admin/sidebar.ejs') %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <%- body %>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <%- include('../partials/admin/footer.ejs') %>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<%- include('../partials/admin/tail.ejs') %>
</body>
</html>
